---
title: Downloads
section: downloads

platforms:
  windows:
    logo: windows.png
    title: Windows
  macos:
    logo: macos.png
    title: macOS
  source:
    logo: source.png
    title: Source Code

releases:
  stable:
    title: Latest Stable Release
    version: 2.4.12
    date: "2017-10-29"
    downloads:
      windows:
        url: https://download.bzflag.org/bzflag/windows/%1$s/bzflag-%1$s.exe
        platform: windows
        description: Windows Vista/7/8.1/10
      macos:
        url: https://download.bzflag.org/bzflag/macos/%1$s/BZFlag-%1$s-macOS.zip
        platform: macos
        description: 10.7+ Intel only
      source:
        url: https://download.bzflag.org/bzflag/source/%1$s/
        platform: source
---

{% extends "_layouts/layout.twig" %}

{% block content %}

{% for release in this.releases %}
    <h2>{{ release.title }} ({{ release.date }})</h2>

{% if release.description is defined %}
    <div>{{ release.description }}</div>

{% endif %}
{% for download in release.downloads %}
    <a href="{% if download.version is defined %}{{ download.url | format(download.version) }}{% else %}{{ download.url | format(release.version) }}{% endif %}" class="download">
      <img src="/images/download/{{ this.platforms[download.platform].logo }}" width="128" height="128" />
      <p class="os">{{ this.platforms[download.platform].title }}</p>
{% if download.version is defined %}
      <p class="version">Version {{ download.version }}</p>
{% elseif release.version is defined %}
      <p class="version">Version {{ release.version }}</p>
{% endif %}
{% if download.description is defined %}
      <p class="desc">{{ download.description }}</p>
{% endif %}
    </a>
{% endfor %}

{% endfor %}
    <p><em>Previous releases are available on <a href="https://download.bzflag.org/bzflag/">download.bzflag.org</a> and <a href="https://github.com/BZFlag-Dev/bzflag/releases">GitHub</a>.</em></p>

    <p>BZFlag is licensed under the <a href="https://raw.githubusercontent.com/BZFlag-Dev/bzflag/2.4/COPYING">LGPL 2.1 and MPL 2.0</a> and is free to use/distribute/modify as long as the terms of the license are followed.</p>

    <p>The source code repository is available on GitHub for <a href="https://github.com/BZFlag-Dev/bzflag">BZFlag</a> and our <a href="https://github.com/BZFlag-Dev">related sub-projects</a>.</p>
{% endblock %}
