---
title: Getting Started
permalink: /getting-started/
---

{% extends "_layouts/base.html.twig" %}

{% block content_root %}
    <div class="container">
        <h1>Getting Started</h1>

        <section class="row my-5">
            <div class="col-md-7">
                <header class="c-hgroup">
                    <p class="c-hgroup__subtitle">What's in a name?</p>
                    <h2 class="c-hgroup__title">Register a Callsign</h2>
                </header>

                <p>
                    BZFlag allows players to register their name, also known as their callsign. Some servers provide additional benefits for registered users, such as being allows to vote in polls. Another benefit is that players can not use another player's registered callsign. To register a callsign, visit our forums and register an account. The username and password on the forums will be used as callsign and password in the game.
                </p>

                <a href="https://forums.bzflag.org/" class="c-button">Register on our forums</a>
            </div>
        </section>

        <section>
            <h2 class="c-page-split">Tank Types</h2>

            <article class="my-5">
                <header>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <img src="{{ url('/assets/images/getting-started/colored-tanks-lineup.png') }}"
                                 alt="Colored tanked from left to right: red, green, blue, purple"
                                 class="img-fluid mb-5"
                            >
                        </div>
                    </div>

                    <div class="c-hgroup">
                        <div class="c-hgroup__subtitle">Teammates in frickin' tanks!</div>
                        <h3 class="c-hgroup__title h2">Working Together as a Team</h3>
                    </div>
                </header>

                <p>
                    The game has four main teams: Red, Green, Blue, and Purple. In the Free For All and Capture The Flag game modes, each of those teams work together to fight the other teams. Teammates should not shoot each other in those modes. In the Open Free For All game mode, the teams do not matter and it is allowed to shoot any tank for points.
                </p>

                <p>
                    Servers can choose to limit the number of players per team or disable a team entirely.
                </p>
            </article>

            <article class="my-5">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ url('/assets/images/getting-started/rogue-tanks.png') }}"
                             alt="Two rogue tanks"
                             class="img-fluid"
                        >
                    </div>
                    <div class="col-md-8">
                        <header class="c-hgroup">
                            <p class="c-hgroup__subtitle">Prefer being a lone wolf?</p>
                            <h3 class="c-hgroup__title h2">Rogue Class</h3>
                        </header>

                        <p>
                            Like the feeling of having no loyalties to anyone? You consider yourself a lone wolf or aloof? The rogue class lets you play as a tank who's abandoned all its ties to any team and can shoot any tank, even other rogues.
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <h2 class="c-page-split">Game Modes</h2>

            <div class="row my-5">
                <div class="col-md-6">
                    <article>
                        <header>
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <img src="{{ url('/assets/images/getting-started/ctf-scene.png') }}"
                                         alt="Red tank capturing the green team flag"
                                         class="img-fluid mb-3"
                                    >
                                </div>
                            </div>

                            <div class="c-hgroup">
                                <div class="c-hgroup__subtitle">It's all about the flag</div>
                                <h3 class="c-hgroup__title h2">Capture the Flag (CTF)</h3>
                            </div>
                        </header>

                        <p>
                            In CTF, each of the four main teams can have one or more team flag and one or more team base, both colored to match their team. For each team, the objective is to capture enemy team flags by grabbing them and bringing them back to their own base. Each team also tries to prevent the enemy team from capturing their own flag.
                        </p>
                    </article>
                </div>

                <div class="col-md-6 flex-column align-self-end">
                    <article>
                        <header>
                            <img src="{{ url('/assets/images/getting-started/rabbit-hunters.png') }}"
                                 alt="Two hunter tanks pursuing a rabbit tank"
                                 class="img-fluid mb-3"
                            >

                            <div class="c-hgroup">
                                <div class="c-hgroup__subtitle">It's always rabbit season</div>
                                <h3 class="c-hgroup__title h2">Rabbit Chase</h3>
                            </div>
                        </header>

                        <p>
                            In this mode, a single Rabbit is chosen by the server. All of the other players will be Hunters. The Rabbit has the opportunity to score the most points, but it is also the most vulnerable. When the Rabbit is killed, a new Rabbit is selected by the server.
                        </p>
                    </article>
                </div>
            </div>

            <div class="row my-5">
                <article class="col-md-8 offset-md-2">
                    <header>
                        <img src="{{ url('/assets/images/getting-started/ffa-tanks.png') }}"
                             alt="Two red tanks on the left facing off with two blue tanks"
                             class="img-fluid mb-3"
                        >

                        <div class="c-hgroup">
                            <div class="c-hgroup__subtitle">No flags, just kills</div>
                            <h3 class="c-hgroup__title h2">Free For All (FFA)</h3>
                        </div>
                    </header>

                    <p>
                        In Free For All, also known as Free-style, the objective is to shoot enemy tanks to earn points. The four main teams should not shoot other members of their team as this will result in a penalty. Rogue players are allowed to shoot any tank, even other Rogues.
                    </p>
                </article>
            </div>

            <div class="row my-5">
                <article class="col-md-8 offset-md-2">
                    <header>
                        <img src="{{ url('/assets/images/getting-started/offa-tanks.png') }}"
                             alt="Four purple team tanks facing off against each other"
                             class="img-fluid mb-3"
                        >

                        <div class="c-hgroup">
                            <div class="c-hgroup__subtitle">Friendly fire? Hah!</div>
                            <h3 class="c-hgroup__title h2">Open FFA</h3>
                        </div>
                    </header>

                    <p>
                        In OpenFFA, the objective is to shoot other tanks to earn points. Teams do not matter, and all tanks are allowed to shoot other tanks.
                    </p>
                </article>
            </div>
        </section>

        <section>
            <h2 class="c-page-split">Flags</h2>

            <article class="my-5">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <header class="c-hgroup">
                            <h3 class="c-hgroup__title h2">Super Flags</h3>
                        </header>

                        <p>
                            There are good super flags that provide some additional benefit, such as faster movement, a smaller tank, or different weapons like laser or guided missile. There are also bad super flags that disable parts of the tank or reduce performance of the tank. Examples of bad flag effects include radar jamming, reversed controls, left turn only, and a bouncy tank. Bad flags cannot be dropped manually and will normally have either a timer or will require finding an antidote flag.
                        </p>

                        <p>
                            View the flags documentation for a list of all official flags and their description. It is possible game servers to run plugins that add custom flags or modify the behavior of existing flags.
                        </p>

                        <p>
                            <a href="{{ url(pages['Flags']) }}"
                               class="c-button"
                            >
                                View Flag List
                            </a>
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <h2 class="c-page-split">Controls</h2>

            <div class="text-center my-5">
                <div class="d-flex align-items-end justify-content-center">
                    {# Hide these from screenreaders because it's just a visual aid #}

                    <div class="px-2" aria-hidden="true">
                        {% include '_includes/keyboard.html.twig' with {
                            active_keys: [
                                '1', '2', '3', 'tab', 'I', 'S', 'enter', 'N', 'M', ',', '.', 'space',
                            ],
                            disabled: true,
                        } %}
                    </div>

                    <div class="px-3" aria-hidden="true">
                        {% include '_includes/keyboard_arrows.html.twig' %}
                    </div>
                </div>
            </div>

            <p>
                Here are some of the basic controls. These can be customized in the <code>Options</code> &gt; <code>Input Settings</code> &gt; <code>Change Key Mapping</code> menu.
            </p>

            <p>
                The full list of keys can be viewed in the Help menu in-game or in the Change Key Mapping menu.
            </p>

            <div class="row">
                <div class="col-md-6">
                    <article>
                        <h3 class="border-b pb-1 mb-3">Tank Controls</h3>

                        <p>Basic controls for moving your tank and playing.</p>

                        <div class="c-well my-3">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Spawn</p>

                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <kbd class="c-keyboard__key">I</kbd>
                                            </div>
                                            <div class="col-6 text-center">
                                                {% include '_includes/mouse.html.twig' with { pressed: 'right' } %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Shoot</p>
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <kbd class="c-keyboard__key enter" data-align="right">
                                                    enter
                                                </kbd>
                                            </div>
                                            <div class="col-6 text-center">
                                                {% include '_includes/mouse.html.twig' with { pressed: 'left' } %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Jump</p>
                                        <kbd class="c-keyboard__key tab" data-align="left">
                                            tab
                                        </kbd>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-center mt-3">
                                        <p class="mb-2 strong">
                                            Identify / Lock On
                                            <abbr title="with Guided Missile flag">*</abbr>
                                            player
                                            <span class="sr-only">with Guided Missile flag</span>
                                        </p>
                                        <kbd class="c-keyboard__key">I</kbd>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center mt-3">
                                        <p class="mb-2 strong">Drop Flag</p>

                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <kbd class="c-keyboard__key space" data-align="center">space</kbd>
                                            </div>
                                            <div class="col-6 text-center">
                                                {% include '_includes/mouse.html.twig' with { pressed: 'middle' } %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <p class="mb-2 strong">Movement</p>

                                {% include '_includes/keyboard_arrows.html.twig' %}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article>
                        <h3 class="border-b pb-1 mb-3">Heads Up Display (HUD)</h3>

                        <p>
                            The text and visual components that appear in front of the 3D view.
                        </p>

                        <div class="c-well my-3">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Radar Zoom</p>

                                        <kbd class="c-keyboard__key" data-shift="!">1</kbd>
                                        <kbd class="c-keyboard__key" data-shift="@">2</kbd>
                                        <kbd class="c-keyboard__key" data-shift="#">3</kbd>

                                        <p class="my-3 text-center">or</p>

                                        <kbd class="c-keyboard__key shift" data-align="left">shift</kbd>
                                        <span>+</span>
                                        {% include '_includes/mouse.html.twig' with { pressed: 'scroll' } %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Toggle Scoreboard</p>

                                        <kbd class="c-keyboard__key">S</kbd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-6">
                    <article>
                        <h3 class="border-b pb-1 mb-3">Messaging</h3>

                        <p>
                            Be able to communicate with your teammates for excellent teamwork.
                        </p>

                        <div class="c-well my-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Send Chat to All</p>

                                        <kbd class="c-keyboard__key">N</kbd>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <p class="mb-2 strong">Send Chat to Teammates</p>

                                        <kbd class="c-keyboard__key">M</kbd>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <p class="mb-2 strong">
                                            Send Chat to <abbr title="last player that was killed by or killed you">Nemesis</abbr>
                                        </p>

                                        <kbd class="c-keyboard__key" data-shift="<">,</kbd>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <p class="mb-2 strong">
                                            Send Chat to <abbr title="last person that was messaged by or messaged you">Recipient</abbr>
                                        </p>

                                        <kbd class="c-keyboard__key" data-shift=">">.</kbd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section>
            <h2 class="c-page-split">User Interface</h2>

            <article class="s-documentation my-5">
                <img src="{{ url('/assets/images/getting-started/user-interface-layout.jpg') }}"
                     alt="The Heads Up Display available in the game"
                     class="img-fluid mb-3"
                >

                <p>
                    The Heads Up Display (HUD) consists of many components as seen in the image above. Don't worry, some of the components may not be straightforward and need some explaining.
                </p>

                {% markdown %}
                    ### Scoreboard

                    The scoreboard is sorted by the player with the highest kill/death ratio at the top; the sorting algorithm can be changed via `Options` > `GUI Settings` > `Scoreboard Sort`. The scoreboard consists of three main section:

                    1. **Score** - From left to right, the columns in this section are:
                       - Net total of kills minus deaths
                       - Kills/Deaths count
                       - In the brackets, the amount of teamkills the player has performed
                    2. **Kills** - Your personal kills/deaths ratio against this player. If there's only a single number, that's your name and it's the amount of times you've killed yourself.
                    3. **Players** - From left to right, the columns
                       - The player's status on the server
                         - `+` : the player has a registered account
                         - `-` : the player is playing with a registered account but isn't authenticated
                         - `@` : the player is an administrator on the server
                         - No symbol means the player is playing with an unregistered account
                       - The ID a player is assigned on the server; this value is only visible to server administrators
                       - The player's callsign followed by a slash (`/`) and the abbreviation of the flag they're currently carrying
                {% endmarkdown %}

                {% markdown %}
                    ### Team Scores

                    This section shows the score of each colored team and the amount of players currently on each team. Depending on the game mode the server is currently set to, the scores for teams will vary.

                    - CTF: The amount of captures a team has made vs the amount of times the team was captured
                    - FFA: The combined total of kills and deaths of every player on said team

                    These scores will only reset to 0 when every player on said team has left.
                {% endmarkdown %}

                {% markdown %}
                    ### Radar

                    One of the game's most powerful features is an all-seeing radar allowing you see every tank, shot, and object on the playing field. There are flags that allow tanks to camouflage themselves in enemies' radars, so don't fall into a false sense of security.
                {% endmarkdown %}

                {% markdown %}
                    ### Control Panel

                    This component displays every thing that is happening on the server including:

                    - Which flags players are grabbing or dropping
                    - Players joining and leaving
                    - Player deaths
                    - Chat messages

                    This component can filter out a specific type of message as seen in the tabs on the upper right:

                    - `All` : <kbd>Shift</kbd> + <kbd>F1</kbd>
                    - `Chat` : <kbd>Shift</kbd> + <kbd>F2</kbd>
                    - `Server` : <kbd>Shift</kbd> + <kbd>F3</kbd>
                    - `Misc` : <kbd>Shift</kbd> + <kbd>F4</kbd>
                {% endmarkdown %}
            </article>
        </section>
    </div>
{% endblock %}
