---
title: Getting Started
permalink: /getting-started/
---

{% extends "_layouts/base.html.twig" %}

{% block content_root %}
    <div class="container">
        <h1>Getting Started</h1>

        <section class="row my-5">
            <div class="col-md-7">
                <header>
                    <p class="m-0 text-muted">
                        <strong><small>What's in a name?</small></strong>
                    </p>
                    <h2 class="line-height-1 mt-0 mb-3">Register a Callsign</h2>
                </header>

                <p>
                    BZFlag allows players to register their name, also known as their callsign. Some servers provide additional benefits for registered users, such as being allows to vote in polls. Another benefit is that players can not use another player's registered callsign. To register a callsign, visit our forums and register an account. The username and password on the forums will be used as callsign and password in the game.
                </p>

                <a href="https://forums.bzflag.org/" class="c-button">Register on our forums</a>
            </div>
        </section>

        <section>
            <h2 class="border-y line-height-1 my-5 py-3 text-center">Tank Types</h2>

            <article class="my-5">
                <header>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <img src="{{ url('/assets/images/getting-started/colored-tanks-lineup.png') }}"
                                 alt="Colored tanked from left to right: red, green, blue, purple"
                                 class="img-fluid"
                            >
                        </div>
                    </div>

                    <p class="mt-5 mb-0 text-muted">
                        <strong><small>Teammates in frickin' tanks!</small></strong>
                    </p>
                    <h3 class="h2 line-height-1 mb-3">Working Together as a Team</h3>
                </header>

                <p>
                    The game has four main teams: Red, Green, Blue, and Purple. In the Free For All and Capture The Flag game modes, each of those teams work together to fight the other teams. Teammates should not shoot each other in those modes. In the Open Free For All game mode, the teams do not matter and it is allowed to shoot any tank for points.
                </p>

                <p>
                    Servers can choose to limit the number of players per team or disable a team entirely.
                </p>
            </article>

            <article class="my-5">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ url('/assets/images/getting-started/rogue-tanks.png') }}"
                             alt="Two rogue tanks"
                             class="img-fluid"
                        >
                    </div>
                    <div class="col-md-8">
                        <header>
                            <p class="m-0 text-muted">
                                <strong><small>Prefer being a lone wolf?</small></strong>
                            </p>
                            <h3 class="h2 line-height-1 mb-3">Rogue Class</h3>
                        </header>

                        <p>
                            Like the feeling of having no loyalties to anyone? You consider yourself a lone wolf or aloof? The rogue class lets you play as a tank who's abandoned all its ties to any team and can shoot any tank, even other rogues.
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <h2 class="border-y line-height-1 my-5 py-3 text-center">Game Modes</h2>

            <div class="row my-5">
                <div class="col-md-6">
                    <article>
                        <header>
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <img src="{{ url('/assets/images/getting-started/ctf-scene.png') }}"
                                         alt="Red tank capturing the green team flag"
                                         class="img-fluid mb-3"
                                    >
                                </div>
                            </div>

                            <p class="mb-0 text-muted">
                                <strong><small>It's all about the flag</small></strong>
                            </p>
                            <h3 class="h2 line-height-1 mb-3">Capture the Flag (CTF)</h3>
                        </header>

                        <p>
                            In CTF, each of the four main teams can have one or more team flag and one or more team base, both colored to match their team. For each team, the objective is to capture enemy team flags by grabbing them and bringing them back to their own base. Each team also tries to prevent the enemy team from capturing their own flag.
                        </p>
                    </article>
                </div>

                <div class="col-md-6 flex-column align-self-end">
                    <article>
                        <header>
                            <img src="{{ url('/assets/images/getting-started/rabbit-hunters.png') }}"
                                 alt="Two hunter tanks pursuing a rabbit tank"
                                 class="img-fluid mb-3"
                            >

                            <p class="mb-0 text-muted">
                                <strong><small>It's always rabbit season</small></strong>
                            </p>
                            <h3 class="h2 line-height-1 mb-3">Rabbit Chase</h3>
                        </header>

                        <p>
                            In this mode, a single Rabbit is chosen by the server. All of the other players will be Hunters. The Rabbit has the opportunity to score the most points, but it is also the most vulnerable. When the Rabbit is killed, a new Rabbit is selected by the server.
                        </p>
                    </article>
                </div>
            </div>

            <div class="row my-5">
                <article class="col-md-8 offset-md-2">
                    <header>
                        <img src="{{ url('/assets/images/getting-started/ffa-tanks.png') }}"
                             alt="Two red tanks on the left facing off with two blue tanks"
                             class="img-fluid mb-3"
                        >

                        <p class="mb-0 text-muted">
                            <strong><small>No flags, just kills</small></strong>
                        </p>
                        <h3 class="h2 line-height-1 mb-3">Free For All (FFA)</h3>
                    </header>

                    <p>
                        In Free For All, also known as Free-style, the objective is to shoot enemy tanks to earn points. The four main teams should not shoot other members of their team as this will result in a penalty. Rogue players are allowed to shoot any tank, even other Rogues.
                    </p>
                </article>
            </div>

            <div class="row my-5">
                <article class="col-md-8 offset-md-2">
                    <header>
                        <img src="{{ url('/assets/images/getting-started/offa-tanks.png') }}"
                             alt="Four purple team tanks facing off against each other"
                             class="img-fluid mb-3"
                        >

                        <p class="m-0 text-muted">
                            <strong><small>Friendly fire? Hah!</small></strong>
                        </p>
                        <h3 class="h2 line-height-1 mb-3">Open FFA</h3>
                    </header>

                    <p>
                        In OpenFFA, the objective is to shoot other tanks to earn points. Teams do not matter, and all tanks are allowed to shoot other tanks.
                    </p>
                </article>
            </div>
        </section>

        <section>
            <h2 class="border-y line-height-1 my-5 py-3 text-center">Flags</h2>

            <article class="my-5">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <header>
                            <h3 class="h2 line-height-1">Super Flags</h3>
                        </header>

                        <p>
                            There are good super flags that provide some additional benefit, such as faster movement, a smaller tank, or different weapons like laser or guided missile. There are also bad super flags that disable parts of the tank or reduce performance of the tank. Examples of bad flag effects include radar jamming, reversed controls, left turn only, and a bouncy tank. Bad flags cannot be dropped manually and will normally have either a timer or will require finding an antidote flag.
                        </p>

                        <p>
                            View the flags documentation for a list of all official flags and their description. It is possible game servers to run plugins that add custom flags or modify the behavior of existing flags.
                        </p>

                        <p>
                            <a href="{{ url(pages['Flags']) }}"
                               class="c-button"
                            >
                                View Flag List
                            </a>
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <h2 class="border-y line-height-1 my-5 py-3 text-center">Controls</h2>

            <div class="text-center">
                {# Hide this from screenreaders because it's just a visual aid #}
                <div class="c-keyboard c-keyboard--disabled" aria-hidden="true">
                    <div class="c-keyboard__row">
                        <kbd class="c-keyboard__key" data-shift="~">
                            `
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active" data-shift="!">
                            1
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active" data-shift="@">
                            2
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active" data-shift="#">
                            3
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="$">
                            4
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="%">
                            5
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="^">
                            6
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="&">
                            7
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="*">
                            8
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="(">
                            9
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift=")">
                            0
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="_">
                            -
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="+">
                            =
                        </kbd>
                        <kbd class="c-keyboard__key del" data-align="right">
                            delete
                        </kbd>
                    </div>
                    <div class="c-keyboard__row">
                        <kbd class="c-keyboard__key c-keyboard__key--active tab" data-align="left">
                            tab
                        </kbd>
                        <kbd class="c-keyboard__key">
                            Q
                        </kbd>
                        <kbd class="c-keyboard__key">
                            W
                        </kbd>
                        <kbd class="c-keyboard__key">
                            E
                        </kbd>
                        <kbd class="c-keyboard__key">
                            R
                        </kbd>
                        <kbd class="c-keyboard__key">
                            T
                        </kbd>
                        <kbd class="c-keyboard__key">
                            Y
                        </kbd>
                        <kbd class="c-keyboard__key">
                            U
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active">
                            I
                        </kbd>
                        <kbd class="c-keyboard__key">
                            O
                        </kbd>
                        <kbd class="c-keyboard__key">
                            P
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="{">
                            [
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="}">
                            ]
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="|">
                            \
                        </kbd>
                    </div>
                    <div class="c-keyboard__row">
                        <kbd class="c-keyboard__key caps" data-align="left">
                            caps
                        </kbd>
                        <kbd class="c-keyboard__key">
                            A
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active">
                            S
                        </kbd>
                        <kbd class="c-keyboard__key">
                            D
                        </kbd>
                        <kbd class="c-keyboard__key">
                            F
                        </kbd>
                        <kbd class="c-keyboard__key">
                            G
                        </kbd>
                        <kbd class="c-keyboard__key">
                            H
                        </kbd>
                        <kbd class="c-keyboard__key">
                            J
                        </kbd>
                        <kbd class="c-keyboard__key">
                            K
                        </kbd>
                        <kbd class="c-keyboard__key">
                            L
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift=":">
                            ;
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift='"'>
                            '
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active enter" data-align="right">
                            enter
                        </kbd>
                    </div>
                    <div class="c-keyboard__row">
                        <kbd class="c-keyboard__key shift" data-align="left">
                            shift
                        </kbd>
                        <kbd class="c-keyboard__key">
                            Z
                        </kbd>
                        <kbd class="c-keyboard__key">
                            X
                        </kbd>
                        <kbd class="c-keyboard__key">
                            C
                        </kbd>
                        <kbd class="c-keyboard__key">
                            V
                        </kbd>
                        <kbd class="c-keyboard__key">
                            B
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active">
                            N
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active">
                            M
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active" data-shift="<">
                            ,
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active" data-shift=">">
                            .
                        </kbd>
                        <kbd class="c-keyboard__key" data-shift="?">
                            /
                        </kbd>
                        <kbd class="c-keyboard__key shift" data-align="right">
                            shift
                        </kbd>
                    </div>
                    <div class="c-keyboard__row">
                        <kbd class="c-keyboard__key ctrl" data-align="left">
                            ctrl
                        </kbd>
                        <kbd class="c-keyboard__key meta" data-align="left">
                            meta
                        </kbd>
                        <kbd class="c-keyboard__key alt" data-align="left">
                            alt
                        </kbd>
                        <kbd class="c-keyboard__key c-keyboard__key--active space">
                            space
                        </kbd>
                        <kbd class="c-keyboard__key alt" data-align="right">
                            alt
                        </kbd>
                        <kbd class="c-keyboard__key meta" data-align="right">
                            meta
                        </kbd>
                        <kbd class="c-keyboard__key ctrl" data-align="right">
                            ctrl
                        </kbd>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
