---
title: Help
section: help
permalink: /help.html
---

{% extends "_layouts/page.html.twig" %}

{% from _self import card_block %}

{% macro card_block(image, header, content) %}
    <div class="col-md-6 col-lg-4">
        <article class="c-card">
            <header class="background-light">
                <img src="{{ url('/assets/images/pages/help/' ~ image ~ '.svg') }}"
                    alt=""
                >
            </header>
            <div>
                <h2>{{ header }}</h2>
                {% spaceless %}{{ content }}{% endspaceless %}
            </div>
        </article>
    </div>
{% endmacro %}

{% block content %}
    <h1>Help</h1>
    <p>
      There are lots of ways to get help with BZFlag! Many of these are also useful if you want to help contribute to the game in some way.
    </p>

    <div class="row">
        {{ card_block(
            'question',
            'Getting Started',
            '<p>New to the game and want to get started quickly? Check out our Getting Started guide!</p>'
        ) }}

        {{ card_block(
            'megaphone',
            'Forums',
            '<p>BZFlag hosts a forum for registered users. This also serves as a player registration system for the game.</p>'
        ) }}

        {% set irc_content %}
            <p>BZFlag has the following IRC channels on Freenode (irc.freenode.net):</p>

            <ul>
                <li>#BZFlag (development and support)</li>
                <li>#BZFlag-chat (general player talk)</li>
            </ul>
        {% endset %}
        {{ card_block('chat-bubbles', 'IRC', irc_content) }}

        {{ card_block(
            'book',
            'Documentation',
            '<p>The game is documented via a series of manual pages (or man pages).</p>'
        ) }}

        {{ card_block(
            'bug',
            'Bug Tracker',
            '<p>If none of these methods provide a resolution to your problem, the project maintains a issue tracker on GitHub where an issue can be opened.</p>'
        ) }}
    </div>
{% endblock %}
