---
title: Home
section: home
permalink: /
metadescription: BZFlag is a free 3D online multi-player multi-platform tank battle game.
---

{% extends "_layouts/base.html.twig" %}

{% block content_root %}
    <div class="container">
        <section class="my-5">
            <h2 class="sr-only">Gameplay Trailer</h2>

            <div class="mx-sm-3 mx-md-5">
                <div class="c-video-player">
                    <video id="teaser"
                           width="720"
                           height="400"
                           loop="loop"
                           preload="none"
                           poster="/images/videothumb/bzteaser.jpg"
                           controls="controls"
                    >
                        <source src="/vid/bzteaser.mp4" type="video/mp4" />
                        <source src="/vid/bzteaser.webm" type="video/webm" />
                    </video>
                </div>
            </div>
        </section>

        <section class="my-5">
            <h2 class="text-center">Project News</h2>

            <div>
                <div class="row">
                    {% for announcement in data.announcements | order('date', 'DESC') | slice(0, 3) %}
                        <article class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <a href="{{ announcement.url }}"
                               class="c-hover-card"
                            >
                                <img class="c-hover-card__thumbnail"
                                     src="{{ url('/assets/images/announcements/' ~ announcement.basename) }}.jpg"
                                     alt=""
                                >
                                <div class="c-hover-card__body">
                                    <p class="c-hover-card__date">
                                        <small>
                                            <time datetime="{{ announcement.date | date }}">
                                                {{- announcement.date | date('F d, Y') -}}
                                            </time>
                                        </small>
                                    </p>
                                    <h3 class="c-hover-card__title">{{ announcement.title }}</h3>
                                    <p class="c-hover-card__meta">
                                        <small>
                                            by {{ announcement.author }}
                                            &bull;
                                            {{ announcement.category }}
                                        </small>
                                    </p>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <section class="my-5">
        <div class="c-theater">
            <div class="c-theater__image">
                <img src="{{ url('/assets/images/pages/index/flying_tank.jpg') }}"
                    alt="">
            </div>

            <div class="container">
                <div class="c-theater__stage">
                    <p class="m-0 text-muted">
                        <strong><small>A bird? A plane? Nope!</small></strong>
                    </p>
                    <p class="h2 line-height-1 mt-0">It's a Flying Tank</p>

                    <p class="mb-0">
                        The M1 Abrams comes in weighing approximately 62 metric
                        tons. Our tanks? Well, they're light as a feather! There's
                        no obstacle you won't be able to jump. Need to jump even
                        higher? We've got you covered. Our tanks can have wings
                        letting you jump while in mid-air! Who needs to be bullet
                        proof when you can jump out of the way?
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url('/assets/js/plyr.js') }}"></script>
    <script>
        const player = new Plyr('#teaser', {
            iconUrl: '{{ url("/assets/images/plyr.svg") }}',
            blankVideo: '{{ url("/assets/vid/blank.mp4") }}',
            controls: [
                'play-large'
            ],
            disableContextMenu: false
        });
    </script>
{% endblock %}
