---
title: Downloads
section: downloads
permalink: /downloads/
jumbotron:
    image: /assets/images/downloads/jumbotron.jpg
    alt: ~
    title: Join our Ranks
opengraph:
    description: BZFlag is available as a free download. Pre-built packages are available for Windows and macOS.
---

{% extends "_layouts/page.html.twig" %}

{% macro download_buttons(platform, download) %}
    {% for dl in download.downloads[platform] %}
        <div class="mb-3">
            {% include "_includes/download_button.html.twig" with {
                platform: platform,
                download: dl,
                version: download.version,
            } %}
        </div>
    {% endfor %}
{% endmacro %}

{% block content %}
    <div class="row mb-3">
        {% set windows_download %}
            {% set download = data.downloads_bzflag | where('downloads.windows', '!=', null) | order('date', 'DESC') | first %}

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h3 class="h4">One-Click Download</h3>

                        <p class="mb-3">
                            Download our executable, launch it, and you're ready to join a game!
                        </p>

                        {{ _self.download_buttons('windows', download) }}
                    </div>

                    {# Since we're not officially maintaining the Chocolatey version yet; let's not officially advertise it #}
                    {# @TODO uncomment once we've taken it over #}
                    {#<div>
                        <h3 class="h4">via Chocolatey</h3>

                        <p>
                            If you use <a href="https://chocolatey.org/">Chocolatey</a> on your machine, you may download BZFlag
                            via the <code>choco</code> command.
                        </p>

                        {% include "_includes/terminal.html.twig" with { command: 'choco install bzflag', os: 'windows' } %}
                    </div>#}
                </div>
                <div class="col-md-6">
                    // TODO
                </div>
            </div>
        {% endset %}

        {% set macos_download %}
            {% set download = data.downloads_bzflag | where('downloads.macos', '!=', null) | order('date', 'DESC') | first %}

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h3 class="h4">One-Click Download</h3>

                        <p class="mb-3">
                            Download our Application like you would any other macOS app.
                        </p>

                        {{ _self.download_buttons('macos', download) }}
                    </div>

                    <div>
                        <h3 class="h4">via Homebrew</h3>

                        <p class="mb-3">
                            If you use <a href="https://brew.sh/">Homebrew</a> on macOS, you may download BZFlag via the <code>brew</code> command.
                        </p>

                        {% include "_includes/terminal.html.twig" with { 
                            command: 'brew install --cask --no-quarantine bzflag', 
                            os: 'macos' 
                        } %}
                    </div>
                </div>
                <div class="col-md-6">
                    // TODO
                </div>
            </div>
        {% endset %}

        {% set linux_download %}
            <h3 class="h4">via Flatpak</h3>

            <p class="mb-3">
                If you use <a href="https://flatpak.org/">Flatpak</a> on your Linux system, install BZFlag via the <code>flatpak</code> command.
            </p>

            {% include "_includes/terminal.html.twig" with {
                command: 'flatpak install flathub org.bzflag.BZFlag',
                os: 'linux',
            } %}

            <h3 class="h4">via Snapcraft</h3>

            <p class="mb-3">
                If you use <a href="https://snapcraft.io/">Snapcraft</a> on your Linux system, install BZFlag through the <code>snap</code> command.
            </p>

            {% include "_includes/terminal.html.twig" with {
                command: 'snap install bzflag',
                os: 'linux',
            } %}

            <h3 class="h4">via a Package Manager</h3>

            <p>
                Alternatively, you may install from your package manager or compile from source. Note that some distribution packages may automatically run a game server.
            </p>
        {% endset %}

        {% include "_includes/tabs.html.twig" with { 
            class: 'w-100',
            headers: [
                { value: 'Windows', selected: false }, 
                { value: 'macOS', selected: true },
                { value: 'Linux', selected: false },
            ],
            labelTag: 'h2',
            title: 'Downloads',
            tabs: [
                windows_download,
                macos_download, 
                linux_download,
            ],
        } %}
    </div>

    {% include "_includes/latest_downloads.html.twig" %}

    {% set latest_release = data.downloads_bzflag | order('date', 'DESC') | first %}

    {% markdown %}
        ## Release Summary

        {{ latest_release.changesummary }}

        {% if latest_release.discussion -%}
            [Join the discussion &raquo;]({{ latest_release.discussion }})
        {%- endif %}

        ## Changelog

        {{ latest_release.changelog }}

        ## Licensing

        BZFlag is licensed under the [LGPL 2.1 and MPL 2.0](https://raw.githubusercontent.com/BZFlag-Dev/bzflag/2.4/COPYING)
        and is free to use/distribute/modify as long as the terms of the license are followed.

        ## Other Releases

        The source code repository is available on GitHub for [BZFlag](https://github.com/BZFlag-Dev/bzflag) and our
        [related sub-projects](https://github.com/BZFlag-Dev).

        Previous releases are available in the [download archive]({{ url(pages['Download Archive']) }}) and on
        [GitHub](https://github.com/BZFlag-Dev/bzflag/releases).
    {% endmarkdown %}
{% endblock %}
