---
permalink: /search/
disableDocScope: true
title: Search
---

{% extends '_layouts/page.html.twig' %}

{% block content %}
    <h1>Search</h1>

    <noscript>
        <div class="c-alert c-alert--error">
            <p class="c-alert__title">
                <strong>JavaScript Required</strong>
            </p>
            <p>Oops. This page requires you have JavaScript enabled.</p>
        </div>
    </noscript>

    <div class="show-js">
        <form action="{{ url(this) }}" method="get">
            <label for="search-field" class="sr-only">
                Enter the terms you wish to search for
            </label>
            <input
                type="search"
                name="query"
                id="search-field"
                class="c-form__input w-100"
                autocomplete="off"
                placeholder="e.g. Guided Missile, compiling, bz_killPlayer"
            >
        </form>

        <div id="search-results"></div>

        <div id="landing-content" class="mt-4">
            <p>Search for what you're looking for. Here's what our search engine will look through:</p>
            <ul>
                <li>Flag documentation</li>
                <li>Plug-in API</li>
                <li>Map making documentation</li>
                <li>User guides</li>
            </ul>
        </div>

        <div id="no-results" class="c-alert c-alert--warning mb-3 mt-4 d-none">
            <p class="c-alert__title"><strong>No Results Found</strong></p>
            <p>
                We couldn't find what you were looking for. <a id="gh-feedback" href="#">Give us feedback</a> on what you were looking for!
            </p>
        </div>
    </div>

    <template id="search-result">
        <article class="c-search-result">
            <p class="c-search-result__title">
                <a href=""></a>
            </p>
            <p class="c-search-result__permalink"></p>
            <p class="c-search-result__description"></p>
        </article>
    </template>
{% endblock %}

{% block scripts %}
    <script src="{{ url(pages['Search Index']) }}{{ cache_busting }}"></script>
    <script src="{{ url('/assets/js/flexsearch.min.js') }}{{ cache_busting }}"></script>
    <script src="{{ url('/assets/js/search.js') }}{{ cache_busting }}"></script>
{% endblock %}
