---
section: documentation
sectiontitle: Developer Docs
permalink: /documentation/developer/bzfs_api/functions/
title: bzfs API Functions
parent:
---

{% extends "_layouts/page-sidebar.html.twig" %}

{% block aside %}
    <div class="position-sticky position-top-1">
        <h2 class="mt-0">Categories</h2>
        <ul>
            {% for section in data.api_functions %}
                <li><a href="#{{ section.title | lower | replace({' ': '_'}) }}">{{ section.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h2 class="mt-0">BZFS API Functions</h2>
    <p>These API functions are allow plug-in developers to interact with the current game state and players.</p>

    {% for section in data.api_functions %}
        <h3 id="{{ section.title | lower | replace({' ': '_'}) }}">{{ section.title }}</h3>
        <ul>
            {% for function in section.functions %}
                <li>
                    <a href="{{ url(collections['bzfs_api_functions'][function]) | replace({'.html': ''}) }}"
                       class="text-decoration-none"
                    >
                        <code>{{- function -}}()</code>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
