---
section: documentation
sectiontitle: Developer Docs
permalink: /documentation/developer/bzfs_api/functions/
title: bzfs API Functions
parent:
---

{% extends "_layouts/page-sidebar.html.twig" %}

{% block aside %}
    <div class="position-sticky position-top-1">
        <h2 class="mt-0">Categories</h2>
        <ul>
            {% for category in collections.bzfs_api_functions | select('category') | sort %}
                <li><a href="#{{ category | lower | replace({' ': '_'}) }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h2 class="mt-0">BZFS API Functions</h2>
    <p>These API functions are allow plug-in developers to interact with the current game state and players.</p>

    {% set functions = collections.bzfs_api_functions | group('category') %}
    {% set categories = functions | keys | sort %}

    {% for category in categories %}
        <h3 id="{{ category | lower | replace({' ': '_'}) }}">{{ category }}</h3>
        <ul>
            {% for function in functions[category] | order('filename') %}
                <li>
                    <a href="{{ url(function) }}"
                       class="text-decoration-none"
                    >
                        <code>{{- function.basename -}}()</code>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
