{% set latest_releases = {
    windows: data.downloads_bzflag | where('downloads.windows', '!=', null) | order('date', 'DESC') | first,
    macos: data.downloads_bzflag | where('downloads.macos', '!=', null) | order('date', 'DESC') | first,
    linux: data.downloads_bzflag | where('downloads.linux', '!=', null) | order('date', 'DESC') | first,
    source: data.downloads_bzflag | where('downloads.source', '!=', null) | order('date', 'DESC') | first,
} %}

<div class="d-flex flex-wrap justify-content-center">
    {% for platform, platform_name in data.platforms %}
        {% set download_list = latest_releases[platform].downloads[platform] %}

        <div class="d-md-inline-block mb-3 {% if not loop.last %}mr-md-3{% endif %}">
            <div class="d-flex justify-content-center" role="group">
                <div class="d-block w-100 p-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            <div>
                                <strong>
                                    <span class="sr-only">Download {{ latest_releases[platform].version | default(latest_releases.source.version) }} for</span>
                                    {{ platform_name }}
                                </strong>
                            </div>
                            <div class="line-height-1" aria-hidden="true">
                                <small>version {{ latest_releases[platform].version | default(latest_releases.source.version) }}</small>
                            </div>
                        </div>

                        <div class="ml-3">
                            <img src="{{ url('/assets/images/' ~ platform ~ '.svg') }}"
                                 alt="{{ platform_name }} logo"
                                 class="d-block"
                                 style="width: 55px;"
                                 aria-hidden="true"
                            >
                        </div>
                    </div>
                </div>
            </div>
            {% if platform == 'linux' %}
            <div class="c-button-group mt-1">
                <a href="https://flathub.org/apps/details/org.bzflag.BZFlag" class="c-button d-block">
                    <span class="sr-only">Download for Linux using Flatpak</span>
                    <span aria-hidden="true">Flatpak</span>
                </a>
            </div>
            <div class="c-button-group mt-1">
                <a href="https://snapcraft.io/bzflag" class="c-button d-block">
                    <span class="sr-only">Download for Linux from Snapcraft</span>
                    <span aria-hidden="true">Snapcraft</span>
                </a>
            </div>
            {% endif %}
            {% for download in download_list %}
            <div class="c-button-group mt-1">
                {% if download.url %}
                    {% set download_url = download.url %}
                    {% set download_label = download.label %}
                {% else %}
                    {% set download_url = 'https://download.bzflag.org/bzflag/' ~ platform ~ '/' ~ latest_releases[platform].version ~ '/' ~ download.filename | replace({'@VER@': latest_releases[platform].version}) %}
                    {% if download.label %}
                        {% set download_label = download.label %}
                    {% else %}
                        {% set download_label = '.' ~ download.filename | split('.') | slice(1) | join('.') %}
                    {% endif %}
                {% endif %}
                <a href="{{ download_url }}" class="c-button d-block">
                    <span class="sr-only">Download for {{ platform_name }} ({{ download_label }})</span>
                    <span aria-hidden="true">{{ download_label }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div class="mb-3">
    <p class="m-0 text-center">
        <small>Version {{ latest_releases.source.version }} was released on {{ latest_releases.source.date | date('F d, Y') }}</small>
    </p>
</div>
