<section class="tabs">
  {% set tabID = 'tablist-' ~ random() %}

  {% if showHeader %}
    {% set _labelTag = labelTag | default('p') %}

    <{{ _labelTag }} id="{{ tabID }}">
      {{ title }}
    </{{ _labelTag }}>
  {% endif %}

  <div 
    class="tablist show-js" 
    role="tablist"
    {% if visibleLabel %}
      aria-labelledby="{{ tabID }}"
    {% else %}
      aria-label="{{ title }}"
    {% endif %}
  >
    {% for headerOrDef in headers %}
      <button
        id="{{ tabID }}-header-{{ loop.index }}"
        type="button"
        role="tab"
        aria-selected="{{ headerOrDef.selected ? 'true' : 'false' }}"
        aria-controls="{{ tabID }}-panel-{{ loop.index }}"
      >
        <span class="focus">
          {{ headerOrDef.selected ? headerOrDef.value : headerOrDef }}
        </span>
      </button>
    {% endfor %}
  </div>

  {% for tabBody in tabs %}
    <div 
      role="tabpanel"
      id="{{ tabID }}-panel-{{ loop.index }}"
      aria-labelledby="{{ tabID }}-header-{{ loop.index }}"
    >
      {{ tabBody }}
    </div>
  {% endfor %}
</section>
