<div class="c-terminal" data-auto-os="{{ os ? 'false' : 'true' }}" data-os="{{ os | lower }}">
    <div class="c-terminal__header">
        <span class="c-terminal__button"></span>
        <span class="c-terminal__button"></span>
        <span class="c-terminal__button"></span>
    </div>

    <div class="c-terminal__body">
        {% if command %}
            {% if command is iterable %}
                {% for cmd in command %}
                    <span
                        class="c-terminal__prompt"
                        aria-hidden="true"
                        {% if cmd.folder %}data-folder="{{ cmd.folder }}"{% endif %}
                        {% if cmd.admin %}data-admin="true"{% endif %}
                    ></span>{{ cmd.command }}
                    {% if not loop.last %}<br />{% endif %}
                {% endfor %}
            {% else %}
                <span
                    class="c-terminal__prompt"
                    aria-hidden="true"
                    {% if folder %}data-folder="{{ folder }}"{% endif %}
                    {% if admin %}data-admin="true"{% endif %}
                ></span>{{ command }}
            {% endif %}
        {% else %}
            {{ body | raw }}
        {% endif %}
    </div>
</div>
