---
section: documentation
sectiontitle: Developer Docs
permalink: /documentation/developer/bzfs_api/events/
title: bzfs API Events
navigation:
  prev: bzfs API
parent:
---

{% extends "_layouts/page-sidebar.html.twig" %}

{% set events = collections.bzfs_api_events | group('category') %}
{% set categories = events | keys | sort %}

{% block introduction %}
    <h1 class="mt-0">BZFS API Events</h1>
    <p>These API events are bzfs callbacks that plugins can listen for in response to specific actions or changes in the state of the server. Events exist for nearly all actions that occur during a game of BZFlag.</p>
{% endblock %}

{% block aside %}
    <h2
        class="mt-0 c-accordion__header"
        data-role="accordion"
        data-target="#sidebar-toc"
        data-breakpoint="lg"
    >
        Categories
    </h2>

    <div id="sidebar-toc" class="c-accordion__body">
        <ul class="m-0">
            {% for category in categories %}
                <li><a href="#{{ category | slug }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% for category in categories %}
        <h2 id="{{ category | slug }}">{{ category }}</h2>

        <ul>
            {% for event in events[category] | order('filename') %}
                <li>
                    <a href="{{ url(event) }}"
                       class="text-decoration-none pre"
                    >
                        {{- event.basename -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
