---
section: documentation
sectiontitle: Developer Docs
permalink: /documentation/developer/bzfs_api/events/
title: bzfs API Events
parent:
---

{% extends "_layouts/page-sidebar.html.twig" %}

{% set events = collections.bzfs_api_events | group('category') %}
{% set categories = events | keys | sort %}

{% block aside %}
    <div class="position-sticky position-top-1">
        <h2 class="mt-0">Categories</h2>
        <ul>
            {% for category in categories %}
                <li><a href="#{{ category | slug }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h2 class="mt-0">BZFS API Events</h2>
    <p>These API events are bzfs callbacks that plugins can listen for in response to specific actions or changes in the state of the server. Events exist for nearly all actions that occur during a game of BZFlag.</p>

    {% for category in categories %}
        <h3 id="{{ category | slug }}">{{ category }}</h3>
        <ul>
            {% for event in events[category] | order('filename') %}
                <li>
                    <a href="{{ url(event) }}"
                       class="text-decoration-none"
                    >
                        <code>{{- event.basename -}}</code>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
