---
collection: bzfs_api_objects
section: documentation
sectiontitle: Plug-in API
permalink: /documentation/developer/bzfs_api/objects/%basename.html
title: %basename
parent:
---

{% extends "_layouts/layout.twig" %}

{% block content %}
  <p><span class="since">Available since {{ this.since }}</span></p>

  {{ this.content }}

  {% if this.constructor %}
    <h2 id="constructors">Constructors</h2>

    {% markdown %}
    ```cpp
    {% for c in this.constructor -%}
    {{ this.basename }} ({{ c | join(', ') }})
    {% endfor %}
    ```
    {% endmarkdown %}
  {% endif %}

  {% if this.operators %}
    <h2 id="operators">Operators</h2>

    {% for o in this.operators %}
      <h3>{{ o.operator }}</h3>
      <p><strong>Return type</strong>: <code>{{ o.returnType }}</code></p>
      <p><strong>Supported data types</strong>:</p>
      <ul>
        {% for p in o.params %}
          <li><code>{{ p }}</code></li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}

  {% if this.functions %}
    <h2 id="member-functions">Member Functions</h2>

    {% for f in this.functions %}
      {%- set types = f.params | default([]) | select('dataType', false, false) -%}
      {%- set names = f.params | default([]) | select('name', false, false) -%}

      <h3>{{ f.returnType }} {{ f.name }} ({{ types | zip(names, ' ') | join(', ') }})</h3>

      <p>{{ f.description }}</p>

      {% if f.params %}
        <table>
          <thead>
            <tr>
              <th>Data Type</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for p in f.params if not p.hide %}
              <tr>
                <td>{{ p.dataType }}</td>
                <td><code>{{ p. name }}</code></td>
                <td>{{ p.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
