<!DOCTYPE html>
<html lang="en" class="no-js os-unknown">
    <head>
        {%- set page_description = this.opengraph.description | default(site.description) | escape('html') -%}
        {%- set page_title -%}
            {%- spaceless -%}
                {%- if this.title %}{{ this.title }} - {% endif -%}
                {%- if this.sectiontitle %}{{ this.sectiontitle }} - {% endif -%}
                BZFlag
            {%- endspaceless -%}
        {%- endset -%}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ page_description }}" />

        {% include "_includes/open_graph.html.twig" %}

        <link rel="stylesheet" href="{{ url('/assets/css/styles.css') }}?cache_busting={{ 'now' | date('U') }}" />
        <link rel="canonical" href="https://www.bzflag.org{{ url(this.permalink) }}" />

        <title>{{ page_title }}</title>

        {% block head %}{% endblock %}
    </head>

    <body>
        {% if this.jumbotron %}
            <section class="page-jumbotron">
                {% include "_includes/navigation.html.twig" %}

                <img src="{{ url(this.jumbotron.image) }}"
                     alt="{{ this.jumbotron.alt | escape }}"
                     class="page-jumbotron__image"
                >

                {% if this.jumbotron.title %}
                    <div class="page-jumbotron__title">
                        <h1>{{ this.jumbotron.title }}</h1>

                        {% if this.jumbotron.subtitle %}
                            <p class="text-muted">{{ this.jumbotron.subtitle }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </section>
        {% else %}
            {% include "_includes/navigation.html.twig" %}
        {% endif %}

        {% block content_root %}{% endblock %}

        {% include "_includes/footer.html.twig" %}

        {% block scripts %}{% endblock %}

        <script src="{{ url('/assets/js/main.js') }}?cache_busting={{ 'now' | date('U') }}"></script>

        {% if data.piwik %}
            <!-- Piwik -->
            <script type="text/javascript">
                var _paq = _paq || [];
                _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
                _paq.push(["setCookieDomain", "{{ data.piwik.cookieDomain }}"]);
                _paq.push(["setDomains", ["{{ data.piwik.domains | join('", "') }}"]]);
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);

                (function() {
                    var u="{{ data.piwik.baseURL }}";
                    _paq.push(["setTrackerUrl", u+"piwik.php"]);
                    _paq.push(["setSiteId", "{{ data.piwik.siteID }}"]);
                    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
                    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Piwik Code -->
        {% endif %}
    </body>
</html>
