{% extends "_layouts/page.html.twig" %}

{% set sectiontitle = 'Download Archive' %}
{% set title = title ~ ' ' ~ this.version %}

{% set download_keys = {
    windows: 'Windows',
    macos: 'macOS',
    irix: 'IRIX',
    source: 'Source',
} %}

{% block content %}
    <h1>{{ title }}</h1>

  {% if this.date %}
  <div>
    <h2>Release Date</h2>
    <p>{{ this.date }}</p>
  </div>
  {% endif %}
  {% if this.codename %}
  <div>
    <h2>Release Name</h2>
    <p><strong>{{ this.title }} "{{ this.codename }}"</strong></p>
  </div>
  {% endif %}
  {% if this.changesummary -%}
  <div>
    <h2>Change Summary</h2>
    {%- markdown %}
    {{ this.changesummary }}
    {% endmarkdown -%}
  </div>
  {% endif %}
  {% if this.changelog -%}
  <div>
    <h2>Change Log</h2>
    {%- markdown %}
    {{ this.changelog }}
    {% endmarkdown -%}
  </div>
  {% endif -%}
  <div class="mb-2">
  {% for platform, files in this.downloads %}
    <h2 class="mb-1">{{ download_keys[platform] | default(platform) }}</h2>
    <p>
    {% for file in files %}
      {% if file.url %}
      <a href="{{ file.url }}">{{ file.filename | replace({'@VER@': this.version}) }}</a><br />
      {% else %}
      <a href="https://download.bzflag.org/{{ project }}/{{ platform }}/{{ this.version }}/{{ file.filename | replace({'@VER@': this.version}) }}">{{ file.filename | replace({'@VER@': this.version}) }}</a><br />
      {% endif %}
    {% endfor %}
    </p>
  {% endfor %}
  </div>

{% endblock %}
